body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4f4;
    background-color: #333;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 2.5em;
}

#menu-container {
    width: 50vw;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: 0 0 1em 0;
    padding: 0;
}
img {
    max-width: 25vw;
    height: auto;
    margin: 20px auto;
    display: block;
}
