body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4f4;
    background-color: #333;
    margin: 0 auto;
    padding: 0;
    width: 70vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 2.5em;
}

#menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Optional: Adds space between the divs */
}
.restaurant {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
p {
    margin: 0 0 1em 0;
    padding: 0;
}
img {
    width: 10vw;
    height: auto;
    margin: 20px auto;
    display: block;
}
